
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

.container {
    max-width: auto;
    margin: 0 auto;
    background-color: black;
}
.back-logo {
    width: auto;
    height: 300px;
    background-color: #e2e2e2;
}
.header-button {
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
}
.header-button button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #00766a 50%, transparent 50%);
    background-size: 500px;
}
.header-button button:hover {
    cursor: pointer;
}
nav ul img {
    margin-left: 650px;
    margin-top: 0;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 15px
}

.menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: #b2b2b2;
}

.menu a {
    text-decoration: none;
    color: #00766a;
    font-weight: 600;
    font-size: 20px;
}

h1 {
    font-size: 80px;
    color: white;
    margin-top: 150px;
    text-align: center;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1050px;
    height: 500px;
    background-color: rgb(225, 225, 225);
    border-radius: 250px;
    margin-top: 100px;
    margin-left: 250px;
}

.title-myimg img {
    width: 500px;
    height: 500px;
    align-items: center;
    border-radius: 250px;
    margin-left: -50px;
}

.title-1 p {
    font-size: 18px;
    color: #517c66;
    line-height: 50px;
    font-weight: bold;
}

.title-2 p {
    font-size: 100px;
    color: #000;
    line-height: 100px;
    font-weight: bold;
}


.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
    margin-top: 30px;
}

.about h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.about h5 {
    font-size: 25px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    line-height: 50px;
}

.about h6 {
    font-size: 25px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    line-height: 50px;
}

.about-left {
    width: 500px;
}
.about-right {
    width: 500px;
}

footer {
    height: 550px;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin : 0 auto ;
}

.footer-title h1{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-size: 30px;
}

.footer-title h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 30px;
}

.footer-icon {
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    width: 200px;
    margin: 30px 35%;
    margin-left: 100px;
}
.footer-icon a {
    color: #ffffff;
}

#face:hover {
    background-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#insta:hover {
    background: radial-gradient(circle at 30% 107%, #ffffff 0%, #ffffff 5%, #ffffff 45%, #ffffff 60%, #ffffff 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#line:hover {
    background-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#git:hover {
    cursor: pointer;
}
